.container {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

#inner-header {
    font-size: large;
    font-weight: bold;
    width: auto;
    display: table;
    margin: 0 auto;
    padding: 10px;
}