@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

body {
	color: #262626;
	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
	line-height: 18px;
    background: linear-gradient(to right, #36c892, #223f85);
    display: grid;
    place-items: center;
}

.container {
    background-color: #fafafa;
    border: 1px solid #e8eaed;
    border-radius: 25px;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    line-height: 21px;
}